<section id="news-feed-nav">
<div class="welcome-box">
<a href="/news-feed">
<div class="user-avatar">
<div class="user-avatar-inner"><img width="40" height="40" src="/assets/user-chuck.jpg" /></div>
</div>
<div class="user-name">Chuck Norris</div>
</a>
</div>
</section><section id="update-status">
<div class="box">
<header class="box-header">
<h1>Atualizar Status</h1>
</header>
<div class="box-content">
<div class="comment-form">

	<%= form_for(@status) do |f| %>
		<% if @status.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

		    <ul>
		    <% @status.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
		<form>
		  <div class="item-image usuario">
		    <span class="item-image-wrap"><img width="50" height="50" src="/assets/user-chuck.jpg" /></span>
		  </div>
		  <div class="comment-textarea">
		    <%= f.text_area :content, placeholder: "Adicione um comentário", autofocus: "autofocus" %>
		  </div>
		  <div class="form-actions">
		    <div class="left">
		      <input type="file">
		    </div>
		    <div class="right">
		      <%= f.submit 'Postar', class: 'button tiny' %>
		    </div>
		  </div>
		</form>
	<% end %>

</div>
</div>
</div>
</section>














